:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --main-bg-color: #2e2f42;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --primery-whitecolor: #ffffff;
}

/* index.html */

.page {
  color: var(--secondary-text-color);
  background-color: var(--primery-whitecolor);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;

  font-size: 16px;
  line-height: 1.2;
}

/* Styles reset*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* Header container */

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
}
.main-header {
  display: flex;

  border-bottom: 1px solid #e7e9fc;
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;

  margin-right: 76px;
}

.logo-item {
  margin-bottom: 16px;
}

.main-logo {
  color: var(--main-text-color);
}

.blue-logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*  Site nav */

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-link {
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--main-text-color);

  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

/* Site nav page 1-2 */

.contact-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}

.contacts {
  font-style: normal;
  margin-left: 332px;
}

.auth-nav {
  display: flex;
}

.auth-nav-container:not(:last-child) {
  margin-right: 40px;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.footer-nav .link:hover,
.footer-nav .link:focus {
  color: #404bbf;
}

/* hero */
.main {
  padding: 188px 0;
  background-color: var(--main-bg-color);
}

.hero-title {
  color: var(--primery-whitecolor);

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  max-width: 496px;
  height: 120px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero .button {
  color: var(--primery-whitecolor);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: inherit;

  margin-left: auto;
  margin-right: auto;

  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* feature-list */
.feature-section {
  padding: 120px 0;
}

.feature {
  display: flex;
}

.box {
  display: flex;
}

.feature-list {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  width: 264px;
}

.feature-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--main-text-color);

  margin-bottom: 8px;
}

.feature-content:not(:last-child) {
  margin-right: 24px;
}

/* section title 3-4 */

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-text-color);

  margin-bottom: 72px;
}

.list-img {
  display: flex;
}

.img-item {
  width: calc((100% - 48px) / 3);
}
.img-item:not(:last-child) {
  margin-right: 24px;
}

.section-img {
  padding-bottom: 120px;
}
.section-workers {
  background-color: var(--secondary-bg-color);
  padding: 120px 0;
}

.title-team {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--main-text-color);

  margin-bottom: 72px;
}

.cards-list {
  display: flex;
}

.cards:not(:last-child) {
  margin-right: 24px;
}
.cards {
  background-color: var(--primery-whitecolor);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  width: calc((100%-72px) / 4);
}

.masters-description {
  padding: 32px 16px;
}

.title-master {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  margin-bottom: 8px;
}

.list-description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* footer */

.footer-section {
  background-color: var(--main-bg-color);
  padding: 100px 0;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #f4f4fd;

  display: block;
  width: 264px;
  height: 72px;
}

/* portfolio.html */

.button-box {
  padding-top: 96px;
  padding-bottom: 72px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}

.buttons-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--accent-color);

  padding: 12px 24px;

  background-color: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buttons-item:hover,
.buttons-item:focus {
  border: 1px solid transparent;
}
.buttons .list:hover,
.buttons .list:focus {
  color: var(--primery-whitecolor);
  background-color: #404bbf;
}

/* main */
.section {
  padding: 96px 0 120px;
}
.portfolio-container {
  margin-left: 156px;
  margin-right: 156px;
  padding-bottom: 120px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards {
  width: calc((100% - 48px) / 3);
}
.portfolio-cards:not(:nth-last-of-type(3n + 1)) {
  margin-right: 24px;
}
.portfolio-cards:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.portfolio-cards {
  min-width: 360px;
  min-height: 420px;
}

.portfolio-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--main-text-color);

  margin-bottom: 8px;
}
.portfolio .list-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  margin-top: 8px;
  margin-left: 16px;
}

.add-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
